<extend name="Public:app"/>
<block name="main">
    <div class="col-md-9">
        <div class="panel panel-default article-panel">
            <div class="panel-body my-markdown-editor">
                <h1 class="panel-title text-center">{$result.title}</h1>
                {$result.markdown}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <include file="Public/hotArticle" />
        <include file="Public/tag" />
        <include file="Public/newArticle" />
    </div>
</block>
<block name="customer-css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/9.10.0/styles/monokai-sublime.min.css">
</block>
<block name="customer-js">
    <script src="http://cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js"></script>
    <script>
        $(function(){
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>
</block>