<extend name="Public:app"/>
<block name="main">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{$category_info.category_name}</h1>
            </div>
            <div class="panel-body my-category-list">
                <ul class="list-group">
                    <volist name="article_list" id="vo">
                        <li class="list-group-item">
                            <span class="label label-success">{$vo.source}</span>
                            <a href="{:generate_url('article', $vo['id'])}">{$vo.title}</a>
                            <p class="pull-right">123/123123/123 | {$vo.created_at}</p>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <include file="Public/hotArticle" />
        <include file="Public/tag" />
        <include file="Public/newArticle" />
    </div>
</block>