<extend name="Public:app"/>
<block name="main">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <volist name="article_list" id="article">
                        <div class="col-md-4">
                            <div class="panel panel-default home-recommand-block">
                                <div class="panel-heading">
                                    <a href="{:generate_url('article', $article['id'])}">
                                        <img src="{$article.image|default='/Public/400_58bd7e57a9cf6.png'}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <h3><a href="{:generate_url('article', $article['id'])}">{$article.title}</a></h3>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <include file="Public/hotArticle" />
        <include file="Public/tag" />
        <include file="Public/newArticle" />
    </div>
</block>